.descriptionContainer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    /* background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0.5em; */
    color: white;
    text-align: left;
    padding: 1em;
    margin: 1em;
    z-index: 1;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/* .userName,
.description,
.mediaName {
    background-color: rgba(255, 255, 255, 0.192);
    padding: 0.5em;
    border-radius: 0.5em;
} */

.userName {
    font-size: 1.5em;
    font-weight: 700;
}

.description {
    font-size: 1em;
    font-weight: 400;
}

.spinner {
    background-color: none;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    display: inline-block;
    animation: spin 2s linear infinite;
    transform-origin: center;
    filter: invert(100%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.mediaName {
    display: inline-block;
    font-size: 1em;
    font-weight: 400;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}